body, h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(58, 101, 202);
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul, a {
    list-style: none;
    color: white;
    text-decoration: none;
}

nav ul li { 
    display: inline;
    margin-right: 10px;
}

h3, p {
    padding-top: 20px;
    padding-left: 10px;
    margin: 5px;
    
}

h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 15px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
