body,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    color: black
    "muli" Arial, Helvetica, sans-serif
}

body {
    background-color: white;
    font-family: "muli",Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav ul,
a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li a {
    display: inline;
    margin-right: 10px;
    color: black;
}

header {
  background-color: #004477;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 20px;
  padding-top: 50px; /* Adjust the top padding as needed */
  font-family: "muli" Arial, Helvetica, sans-serif;
  margin-top: 0px;
  overflow: hidden;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.search-bar{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px; /* Adjust the top margin as needed */
}

#searchInput {
  margin-right: 5px;
  margin-left: 5px;
  border: #FFFFFF;
}

#searchButton {
  border: 1px solid #ffffff; 
  padding: 20px 20px 12px ;
  background-color: #c1bdbd; 
  cursor: pointer;
  background-image: url("https://static.thenounproject.com/png/2946467-200.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  width: 100%;
  font-size: 16px;
}

/*Add hover effect to the search button */
#searchButton:hover {
  background-color: #b6b5b5;
}

@media screen and (max-width: 600px) {
  .search-bar a, .custom-header input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/*The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.nscc.ca/img/campuses/strait/pg-strait-1.jpg");
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
li a {
    color: rgb(255, 255, 255);
}

nav{
    background-color: #1B5C8C;
    text-align: center;
    font-family: "muli" Arial, Helvetica, sans-serif;
    height: 3.5%;
}
    
.nav-link {
    color: #FFFFFF !important;
}
.logo-image{
    width: 100;
    height: 100;
    border-radius: 100;
    overflow: hidden;
    margin-left: 15px;
}
/*Styles for the left and right sections */
.hprd-ql-left,
.hprd-ql-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; 
}

/*Styles for the article content */
.hprd-ql-content {
    margin-top: 20px; 
}

@media (max-width: 768px) {
    .hprd-ql-left,
    .hprd-ql-right {
        text-align: left;
    }
}

/*Style the container with a rounded border, grey background and some padding and margin */
.container-3 {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  }
  
  /*Clear floats after containers */
  .container-3::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /*Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container-3 img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /*Increase the font-size of a span element */
  .container-3 span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /*Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container-3 {
      text-align: center;
    }
  
    .container-3 img {
      margin: auto;
      float: none;
      display: block;
    }
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
  }

  .container-4{
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }

  .container-5{
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  .footer {
    background-color: #004477; /* Same background color as the header */
    color: rgb(255, 255, 255); /* Same text color as the header */
    text-align: left;
    padding: 25px;
    font-family: "muli", Arial, Helvetica, sans-serif; /* Same font family as the header */
  }
  
  .container-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid  {
  color: #1B5C8C;
}

